@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #26292E;
}

#create {
    margin-top: 200px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}



.body-add {
    background-color: #19FF94;
    
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   

}
.add-contact{
    color: #003d21;
}

.container-form {
    background-color: #191919;
    -webkit-box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.12);
    width: 600px;
    height: 500px;
    border-radius: 10px;

}

form {
    flex-direction: column;
    display: flex;
    gap: 10px;
    color: #EFEDE0;
    padding: 30px;


}

.container-form .inputs {
    padding: 10px;
    background-color: #19FF94;
    border-radius: 4px;
    outline-color: #19FF94;
    border-color: #003d21;

}

.container-form .inputs::placeholder {
    color: #00B35F;
    font-weight: bolder;
}

.body-add {
    display: flex;
    justify-content: center;
    gap: 50%;
    align-items: center;
    text-align: center;
}

.body-add button{
    background-color:#a200ff;
    border-color: #a200ff;
   padding: 3px;
   font-weight: bolder;
}