@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #26292E;
}

#create {
    margin-top: 200px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.errors {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}



.add-contact {
    color: #191919;
}

.container-form {
    background-color: #191919;
    -webkit-box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.12);
    width: 600px;
    height: 540px;
    border-radius: 10px;
}

.alert-danger {
    color: rgb(218, 0, 0);
}

form {
    flex-direction: column;
    display: flex;
    gap: 10px;
    color: #EFEDE0;
    padding: 30px;
}

form label {
    align-items: flex-start;
    display: flex;
}

.container-form .inputs {
    padding: 10px;
    background-color: #00ffff;
    border-radius: 4px;
    outline-color: #00BFFF;
    border-color: #00BFFF;
}

.container-form .inputs::placeholder {
    color: #00BFFF;
    font-weight: bolder;
}

.body-add {
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 50%;
    background-color: #148fb8;
    align-items: center;
    text-align: center;
}

.body-add button {
    background-color: #00BFFF;;
    border-color: #00BFFF;
    padding: 3px;
    font-weight: bolder;
}

.button-submit {
    background-color: #00BFFF;
    border-color: #00BFFF;
    font-weight: bolder;

}